#comment-index-container {
  .action-new {
    margin-bottom: 20px;
  }

  .comment-box {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #e3e3e3;

    ul {
      width: 100%;
      list-style-type: none;

      li {
        width: 100%;
      }
    }
  }
}